body {
    background-color: #13132c; 
    color: white;
    font-family: Arial, sans-serif;    
    padding: 0;
    margin: 0;
}

.loginContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.LogoKrita{
    width: 200px;
    margin-bottom: -30px;
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #5f6366 ;
}

input::placeholder {
    color: #a5a1a1;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -35px;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2px;
    height: 2px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #798999;
}

.checkbox-container label {
    font-size: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #798999;
    color: rgb(8, 6, 6);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    margin-top: 40px;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background-color: #a6adb4;
}



